body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

/* HEADER AND HERO STYLING */

.hero-container {
    background-color: #1F2937;
    padding: 0px 15%;
}

.hero-banner {
    display: flex;
    padding-bottom: 48px;
    justify-content: space-between;
}

.hero-banner img {
    flex: 1 1 auto;
    color: #E5E7EB;
    height: 250px;
    max-width: 532px;
}

.hero-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
    width: 500px;
}

.hero-info h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin: 0;
    flex-grow: 1;
    margin-bottom: -1em;
}

.hero-info p {
    color: #E5E7EB;
    margin: 0;
    padding: 0;
    flex-grow: 1;
    font-size: 18px;
    margin-bottom: -1em;
}

.hero-info button {
    background-color: #3882F6;
    padding: 4px 32px;
    color: #E5E7EB;
    border: none;
    font-size: 16px;
    border-radius: 6px;
    font-weight: bold;
    height: 32px;
    align-self: flex-start;
}

.nav .logo {
    font-size: 24px;
    color: #f9faf8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.nav {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    margin-bottom: 48px;
}

ul {
    list-style: none;
    display: flex;
    margin-left: auto;
}

li {
    padding-left: 16px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

/* INFOGRAPHIC SECTION STYLING */

.infographic {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
}

.infographic h1 {
    font-weight: 900;
    font-size: 36px;
    color: #1F2937
}

.graphics-container {
    display: flex;
    gap: 48px;
    padding: 24px;
}

.graphic {
    flex: 1;
    max-width: 200px;
    color: #464646;
    font-size: 18px;
}

.graphic img {
    max-width: 200px;
    border: 4px solid #3882F6;
    border-radius: 16px;
    box-sizing: border-box;
}